# Meson
build/
builddir/

# CMake (legacy)
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
cmake-build-*/
install_manifest.txt

# IDE
.idea/
.vs/
.vscode/

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.VC.db
Debug/
Release/
x64/
*.dir/

# Binaries
ecm
unecm
*.exe
*.o
*.obj
