CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
#Verone/
.idea/
.vs/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
Debug/
ECM.VC.db
ECM.sln
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj.user
ecm.dir/
ecm.vcxproj
ecm.vcxproj.filters
ecm.vcxproj.user
unecm.dir/
unecm.vcxproj
unecm.vcxproj.filters
unecm.vcxproj.user
x64/
